PORT=5050
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/smartsplit?retryWrites=true&w=majority
GEMINI_API_KEY=your_gemini_api_key
CLERK_PUBLISHABLE_KEY=pk_test_bWFqb3ItaW5zZWN0LTQwMTQuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_6kYAmA3Bq6t7oo4wnYRKpzIMIer3TKlxVpdnLKtWt7